.im{
  //width: 150px;
  width: 90px;

  height: 100px;
}
.txt{
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
.c1{
  text-align: center;
  width: 23%;height: 55%;font-size: large;
  background-color: white;margin-top: 75px;
  margin-right: 37%;direction: ltr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.send{
  top:10px;
 margin: auto;}
label{
font-size: 17px;
}
