
<body  style="background-image: url('../assets/LogoFace1.jpg') ; direction: rtl;background-size: 100%;background-repeat: no-repeat;background-attachment: fixed;position: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

<!-- <p>menu works!</p> -->
<div *ngIf="show">
<div class="frm" >
  <mat-tab-group>
      <!-- <mat-tab>
          <ng-template mat-tab-label>
              <button mat-button (click)="home()"><img src="assets/home/icon.png"></button>
          </ng-template>
      </mat-tab> -->
      <mat-tab>
          <ng-template mat-tab-label>
             <button mat-button (click)="StudentList()"> לרשימת התלמידים</button>
           </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
           <button mat-button (click)="CheckPresence()">לבדיקת הנוכחות</button>
         </ng-template>
    </mat-tab>





      <!-- <mat-tab>
          <ng-template mat-tab-label>
             <button mat-button [matMenuTriggerFor]="afterMenu">בחירות קיימות</button>
             <mat-menu #afterMenu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let item of ElectionsList" (click)="selectedElection(item)">{{item.ElectionName}}</button>
              </mat-menu>
           </ng-template>
      </mat-tab> -->
      <!-- <mat-tab>
          <ng-template mat-tab-label>
             <button mat-button [matMenuTriggerFor]="afterMenu1">בחירות עכשיו</button>
             <mat-menu #afterMenu1="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let item of ElectionsList" (click)="ResultElection(item)">{{item.ElectionName}}</button>
              </mat-menu>
           </ng-template>
      </mat-tab> -->
  </mat-tab-group>
  <!-- <div class="txt">
    <p>שלום מורה יקרה</p>
    <p>כיתה {{grade_name}}</p>
  </div> -->

</div>
</div>

<router-outlet></router-outlet>
</body>
