button{
  font-family: Stanga AAA;
  font-size: 20px;
}
.txt{
  font-family: Stanga AAA;
  font-size: 30px;
  }
  p{
  width: 300px;
  margin: auto;
  text-align: center;
  }
// body{
//   background-image: url("bird.jpg");
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   text-align: ltr;
// }

