
<!-- <app-add-student></app-add-student> -->
<!-- <app-view-report-presence></app-view-report-presence> -->
<!-- <app-new-student></app-new-student> -->
<!-- <app-new-student></app-new-student> -->
<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->

<!-- <app-menu ></app-menu> -->
<!-- <app-check-presence></app-check-presence> -->
<!-- <app-delete-student></app-delete-student> -->

<app-home></app-home>


<!-- 123454323 -->


<!--

<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
        [(ngModel)]="searchText" placeholder="Enter text to search"
        autofocus>
    </div>
    <ul class="list-group list-group-flush">
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <!-- <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText"> -->
        <!-- {{c}}
      </li> -->
    <!-- </ul>
  </div>
</div>  -->
