.border{
  border: rgb(81, 213, 28);
  color: rgb(40, 188, 47);
  margin: 50px 300px 300px 300px ;
  text-align: center;

}
.b{
  border: rgb(20, 68, 55);
}
/* table {
  /* font-family: arial, sans-serif; */
  /* border-collapse: collapse; */
  /* width: 10%;
} */

td {
  border: 10x solid #ee4343;
}
td, th {
  text-align: center;
  padding: 8px;
}
tr{
background-color:rgb(28, 153, 206);
}
.title{
  background-color: rgb(14, 79, 139);
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */


// body{
//   background-image: url( assets/voter/details.png);
//   background-size: cover;
// }
mat-checkbox{
font-family: Stanga AAA;
color:#000000;
zoom:1.5;
font-size: 17.5px;;
}
.return{
margin: 30px;
font-size: 20px;
}
// .btn{
//   margin-left:10%;
//   margin-top:5%;
// }
.txt{
// font-family: Stanga AAA;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
p{
width: 300px;
margin: auto;
text-align: center;
}

.btn{
margin:auto;
left: 150px;
bottom: -100px;
}
// .c1{
//   // text-align: center;
//   // width: 17%;height: 55%;font-size: large;
//   // background-color: white;margin-top: 75px;
//   // margin-right: 40%;direction: ltr;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }



table {
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  font-size: small;

}

th, td {
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}

thead, tfoot {
  font-style: bold;
  color: rgb(0, 0, 0);
}

tr{
  // height: min-content;
  height: min-content;

}

thead th, tfoot th, tfoot td {
  background-color: #ebebeb;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
.c1{
  // text-align: center;
  width: 17%;height: 55%;font-size: large;
  // background-color: white;margin-top: 75px;
  margin-right: 37%;direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.c2{
direction: rtl;
}
.c3{
  direction: ltr; width: 182%;
  // height: 55%;
}
