.btnOK{
  top:-27px
  }
  #frm{
    height: 410px;
    top:1vh;
    border-radius: 15%;
    width: 350px;
  }
.border{
  color:fuchsia;
  border-style: groove;
  background-color: aquamarine;
  width: 200px;
}
.example-form {
  // min-width: 50px;
  // max-width: 100px;
   width: 100%;


}
.c3{
  width: 100px;
  height: 100px;

//  width:500px;height:600px;
  // background-color:#00ffff;

}
.c4{
  margin-right: 17%;direction: rtl;
}
.example-full-width {
  width: 100%;
}
.c2{
  background-color:#1adad7;
}
.myInput{
  border-radius: 12px;
  }
.c1{
  text-align: center;
  width: 17%;height: 55%;font-size: large;
  background-color: white;margin-top: 75px;
  margin-right: 40%;direction: ltr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 50%;
}
