.btnOK{
  top:-27px
  }
  #frm{
    height: 410px;
    top:1vh;
    border-radius: 15%;
    width: 350px;
  }
  .c1{
    text-align: center;
    width: 17%;height: 55%;font-size: large;
    background-color: white;margin-top: 75px;
    margin-right: 40%;direction: ltr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  // .c1{
  //   text-align: center;
  //   width: 23%;height: 55%;font-size: large;
  //   background-color: white;margin-top: 75px;
  //   margin-right: 37%;direction: ltr;
  //   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // }
